* {
	margin: 0;
}

html, body { width: 100%; height: 100%;}

.image-container {
	position: relative;
	width: 50%;
	height: 100%;
	float: left;
}

.image-container p {
	font-family: monospace;
	position: absolute;
	top:  5px;
	left: 5px;
}

#strict 		{	background-color: #aaa;	}
#loose 			{	background-color: #bbb;	}
