* {
	margin: 0;
}

html, body { width: 100%; height: 100%;}

.image-container {
	position: relative;
	width: 50%;
	height: 100%;
	float: left;
}

.image-container > img {
	display: block;
}


#strict 		{	background-color: #aaa;	}
#loose 			{	background-color: #bbb;	}
